<h1 align="center">Sign Up</h1>

<% if @user.errors.any? %>
<h2>Submission failed due to...</h2>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
<%= form_for( @user, :html=>{class: "form-horizontal", role: "form"} )do |f| %>

<p>
	<%= f.label :username %><br/>
	<%= f.text_field :username, class: "form-control",placeholder: "Username",autofocus: true %>
</p>
<p>
	<%= f.label :email %><br/>
	<%= f.email_field :email , class: "form-control",placeholder: "Email",autofocus: true%>
</p>

<p>
	<%= f.label :password %><br/>
	<%= f.password_field :password, class: "form-control",placeholder: "Password",autofocus: true %>
</p>
<br>
<p>
	<%= f.submit "Sign Up", class: "btn btn-primary" %>
</p>
<%= link_to "<< Back",articles_path %>
<% end %>
</div>
</div>
